<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CinqE Education Technologies</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
</head>

<body>
    <div id="container">
        <header id="header">
            <div id="header-container">
                <div id="brand">
                    <a id="logo">
                        <img class="small-logo" src="images/cinqeLogo.png" alt="cinqe Logo">
                    </a>
                    <h1>5E Technologies</h1>
                </div>
                <div id="nav-menu">
                    <div id="menu-toggle">
                        <div id="menu-icon">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                    </div>

                    <ul class="menu-list">
                        <li>
                            <a href="#header">Home</a>
                        </li>
                        <li>
                            <a href="#about-section">About</a>
                        </li>
                        <li>
                            <a href="#products-section">Solutions</a>
                        </li>
                        <li>
                            <a href="#Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <main id="main">
            <section id="hero-section">
                <ul class="floating-circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <h1>Your E-Learning Technologies Partner</h1>
                <p>We teach people and machines.</p>
                <a href="#about-section" class="my-btn-accent">Learn More</a>
                <svg id="mobile-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1242 1526">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #f9c02d;
                            }
                        </style>
                    </defs>
                    <title>Sans titre - 1</title>
                    <path class="cls-1" d="M0,321S23,438,216,438,689,245,860,245s382,139,382,139V1769L0,1771Z" transform="translate(0 -245)"
                    />
                </svg>
                <svg id="desktop-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1919 1532">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #f9c02d;
                            }
                        </style>
                    </defs>
                    <title>Sans titre - 2</title>
                    <path class="cls-1" d="M0,94S72,235,290,235,1238,10,1464,10s455,81,455,81V1542H0Z" transform="translate(0 -10)" />
                </svg>
            </section>
            <section id="about-section" class="about-section">
                <div id="about-text-content" class="about-text-content">
                    <h1>Get To Know Us Better</h1>
                    <p>5E Technologies is a young startup based in Tunisia, North Africa, specilized in the EduTech industry.
                        As Education is one of the most important aspects in our lifes, we strive to deliever cutting edge
                        education technologies to other businesses (B2B) and to individuals (B2C). To learn more about our
                        products and services, checkout the "Our Products" section.
                    </p>
                    <p>The five "E"s in our brand represents: "Education", "Entrepreneurship", "Expertise", "Employability"
                        and "Teaching(Enseignement)". Through these five axes and the interaction between them, we aim to
                        build generations of thinkers who are able to upgrade their countries to next levels.
                    </p>
                </div>
                <div id="about-image" class="about-image">
                    <img src="images/about-image-v2.svg" alt="about-image">
                </div>
            </section>
            <section id="products-section">
                <img class="theme-shape" src="images/theme-shape.svg">
                <img class="theme-shape-2" src="images/theme-shape.svg">
                <h1>Our Products And Solutions</h1>
                <div class="myhr"></div>
                <div id="cards">
                    <div class="card">
                        <h2>E-Learning Platforms</h2>
                        <p>Multidiscipline online educational applications, with several features that helps any one who wants
                            to learn, get top notch education while sitting at home.
                        </p>
                        <a href="https://www.expertmedx.com/" target="_blank" class="btn-card">Our Solutions</a>
                    </div>
                    <div class="card">
                        <h2>XR for Education</h2>
                        <p>Virtual Reality, Augmented Reality and Mixed Reality has proven to be very efficient when it comes
                            to understanding complex aspects whithin different desciplines.
                        </p>
                        <a href="https://www.youtube.com/watch?v=EXYzj6qwCCk" target="_blank" class="btn-card">Examples</a>
                    </div>
                    <div class="card">
                        <h2>Educational Content</h2>
                        <p>High quality educational media content that was made using high end equipements following modern
                            standars to deliever the best learning experience
                        </p>
                        <a href="https://www.youtube.com/channel/UC22f9GyrKGG3JnefykTxD0g" target="_blank" class="btn-card">Our Solutions</a>
                    </div>
                </div>
                <a href="#Contact" class="my-btn-primary">Lets Get To Business</a>
            </section>
            <section id="Contact">


                <h1>Let's Have A Chat </h1>
                <p>Whether you want to do business with us or you have a question or you just want to chat, tell us what is
                    on your mind.</p>
                <form id="contact-form" class="gform" action="https://script.google.com/macros/s/AKfycbzGrrX88YHTrnP_U7s19r-yCSgqWxRcbv822dZF/exec"
                    method="post">

                    <div style="display:none" class="thankyou_message">
                        <p>Thank you for your message, you will hear from us soon.</p>
                    </div>

                    <input id="honeypot" type="text" name="honeypot" value="" />

                    <input id="name" name="name" placeholder="Name" type="text" tabindex="1" required>



                    <input id="email" name="email" placeholder="Email" type="email" tabindex="2" required>



                    <textarea id="message" name="message" placeholder="What's up!" tabindex="5" required></textarea>


                    <button class="form-btn">Send</button>
                </form>
            </section>
        </main>
        <footer id="footer">
            <p class="adresse">Imm.Emeraude 2eme etage, Cite El Omrane, Monastir, Tunisia</p>
            <p class="email">contact@cinqe.com</p>
            <p class="phone">+216 24 042 943</p>
            <div id="social-media-icons">
                <a href="">
                    <img src="images/social media icons/twitter.svg">
                </a>
                <a href="">
                    <img src="images/social media icons/instagram.svg">
                </a>
                <a href="">
                    <img src="images/social media icons/linkdin.svg">
                </a>
            </div>
            <div class="latest">Latest update: Mars 2019</div>
        </footer>
    </div>












    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script data-cfasync="false" type="text/javascript" src="js/form-submission-handler.js"></script>
    <script src="js/main.js"></script>
</body>

</html>